.custom-link {
    color: #005F99;
}
.custom-nav {
    background: #005f99;
}

.custom-link:hover {
    color: #00304d;     
}

a.nav-link {
    color: white;
}
a.navbar-brand {
    color:white;
}
a.navbar-brand:hover {
    color:white;
}
a.nav-link:hover {
    color: #00304d;

}
nav {

    background-color: #005F99;
}
.ui-autocomplete-loading {
    background: white url("../img/ui-anim_basic_16x16.gif") right center no-repeat;
}

form div.form-row label {
    font-weight:bold
}