<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <link rel="stylesheet" asp-href-include="/css/*.css" />
    <link href="~/lib/@@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/css/sidenav.css" />
    <script type="text/javascript" src="~/js/index.js"></script>
    <link asp-href-include="/lib/jquery-ui/themes/base/*.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*This order is important in order for popper to work out properly*@
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/@@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    @*<script src="~/js/loadingOverlay.js"></script>*@



</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top" role="navigation">
        <a class="navbar-brand" href="#">Lexincorp Nicaragua</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @if (User.IsInRole("Administrador"))
        {
            <div class="collapse navbar-collapse" id="navbarToggle">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownUsuarios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Usuarios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownUsuarios">
                            <a class="dropdown-item" asp-controller="Attorney" asp-action="New">Crear</a>
                            <a class="dropdown-item" asp-controller="Attorney" asp-action="Admin">Administrar</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownClientes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Clientes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownClientes">
                            <a class="dropdown-item" asp-controller="Client" asp-action="New">Agregar nuevo</a>
                            <a class="dropdown-item" asp-controller="Client" asp-action="Admin">Administrar</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownServicios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Servicios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownServicios">

                            <a class="dropdown-item" asp-action="New" asp-controller="Category">Crear categoría</a>
                            <a class="dropdown-item" asp-action="Admin" asp-controller="Category">Administrar categorías</a>
                            <a class="dropdown-item" asp-action="New" asp-controller="Service">Crear servicio</a>
                            <a class="dropdown-item" asp-action="Admin" asp-controller="Service">Administrar servicios</a>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownGastos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gastos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownGastos">
                            <a class="dropdown-item" asp-controller="Expense" asp-action="New">Crear nuevo tipo de gasto</a>
                            <a class="dropdown-item" asp-controller="Expense" asp-action="Admin">Administrar tipos de gastos</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownItems" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ítems
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownItems">
                            <a class="dropdown-item" asp-controller="Item" asp-action="New">Crear nuevo ítem</a>
                            <a class="dropdown-item" asp-controller="Item" asp-action="Admin">Administrar</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownRetainers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Retainers
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownRetainers">
                            <a class="dropdown-item" asp-controller="Retainer" asp-action="New">Crear nuevo tipo de retainer</a>
                            <a class="dropdown-item" asp-controller="Retainer" asp-action="Admin">Administrar tipos de retainers</a>
                            <a class="dropdown-item" asp-controller="RetainerSubscription" asp-action="New">Crear nueva suscripción de retainer</a>
                            <a class="dropdown-item" asp-controller="RetainerSubscription" asp-action="Admin">Administrar suscripciones activas</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownPackages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Paquetes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownPackages">
                            <a class="dropdown-item" asp-controller="Package" asp-action="New">Registrar nuevo Paquete</a>
                            <a class="dropdown-item" asp-controller="Package" asp-action="Admin">Administrar paquetes</a>
                        </div>
                    </li>
                </ul>

            </div>

        }

    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">

                    <ul class="nav flex-column centered" style="padding-top:15px;">
                        <li class="nav-item sidebar-li">
                            <a class="nav-link text-muted">
                                <i class="fas fa-user" aria-hidden="true"></i>&nbsp; <strong>@User.Identity.Name</strong>
                            </a>

                        </li>
                        <li class="nav-item sidebar-li">
                            <a class="nav-link text-muted" asp-controller="Home" asp-action="Index">
                                <i class="fas fa-tachometer-alt fa-fw" aria-hidden="true"></i>&nbsp; Dashboard
                            </a>
                        </li>
                    </ul>
                    <div class="transiton-div">
                        <a class="nav-link text-muted" data-toggle="collapse" href="#collapseActivities" aria-expanded="false" aria-controls="collapseActivities">
                            <i class="fas fa-clipboard fa-fw"></i>&nbsp; Actividades
                            @*<h6 class="sidebar-heading d-flex justify-content-between text-black-50">
            Actividades
            <i class="fas fa-arrow-circle-down"></i>
        </h6>*@
                        </a>
                    </div>
                    <div class="collapse" id="collapseActivities" style="background-color:slategray">
                        <ul class="nav flex-column">
                            <li class="nav-item sidebar-li">
                                <a class="nav-link" style="color:white" asp-controller="Activity" asp-action="Register">
                                    <i class="fas fa-plus-circle fa-fw"></i>&nbsp; Registrar
                                </a>
                            </li>
                            <li class="nav-item sidebar-li">
                                <a class="nav-link" style="color:white"  asp-controller="Activity" asp-action="History">
                                    <i class="fas fa-archive fa-fw"></i>&nbsp; Historial
                                </a>
                            </li>
                        </ul>
                    </div>

                    @if (User.IsInRole("Administrador"))
                    {
                        <div class="transiton-div">
                            <a class="nav-link text-muted" data-toggle="collapse" href="#collapseReports" aria-expanded="false" aria-controls="collapseReports">
                                <i class="fas fa-chart-line fa-w"></i>&nbsp; Reportes
                                @*<h6 class="sidebar-heading d-flex justify-content-between text-black-50">
            Reportes
            <i class="fas fa-arrow-circle-down fa-fw"></i>
        </h6>*@
                            </a>
                        </div>
                        <div class="collapse" id="collapseReports" style="background-color:slategrey">
                            <ul class="nav flex-column">
                                <li class="nav-item sidebar-li">
                                    <a class="nav-link" style="color:white"  asp-controller="Expense" asp-action="Report">
                                        <i class="fas fa-money-bill fa-fw"></i>&nbsp; Gastos
                                    </a>
                                </li>
                                <li class="nav-item sidebar-li">
                                    <a class="nav-link" style="color:white"  asp-controller="Activity" asp-action="Report">
                                        <i class="fas fa-clipboard fa-fw"></i>&nbsp; Actividades
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }

                    <div class="transiton-div">
                        <a class="nav-link text-muted" data-toggle="collapse" href="#collapseVacations" aria-expanded="false" aria-controls="collapseVacations">
                            <i class="fas fa-umbrella-beach fa-fw"></i>&nbsp; Vacaciones
                            @*<h6 class="sidebar-heading d-flex justify-content-between text-black-50">
            Vacaciones
            <i class="fas fa-arrow-circle-down fa-fw"></i>
        </h6>*@

                        </a>
                    </div>
                    <div class="collapse" id="collapseVacations" style="background-color:slategray">
                        <ul class="nav flex-column">
                            @if (User.IsInRole("Administrador"))
                            {
                                <li class="nav-item sidebar-li">
                                    <a class="nav-link" style="color:white"  asp-controller="VacationsMovement" asp-action="Add">
                                        <i class="fas fa-plus-circle fa-fw"></i>&nbsp; Registrar movimiento
                                    </a>
                                </li>


                            }
                            @if (User.IsInRole("Administrador") || User.HasClaim(claim => claim.Type == "CanApproveVacations" && claim.Value == "true"))
                            {
                                <li class="nav-item sidebar-li">
                                    <a class="nav-link" style="color:white"  asp-controller="VacationsRequest" asp-action="Admin">
                                        <i class="fas fa-bookmark fa-fw"></i>&nbsp; Administración de solicitudes
                                    </a>
                                </li>

                            }

                            <li class="nav-item sidebar-li">
                                <a class="nav-link" style="color:white"  asp-controller="VacationsRequest" asp-action="New">
                                    <i class="fas fa-umbrella-beach fa-fw"></i>&nbsp; Nueva solicitud
                                </a>
                            </li>
                            <li class="nav-item sidebar-li">
                                <a class="nav-link" style="color:white"  asp-controller="VacationsRequest" asp-action="History">
                                    <i class="fas fa-archive fa-fw"></i>&nbsp; Mi historial de solicitudes
                                </a>
                            </li>
                        </ul>
                    </div>
                    @if (User.IsInRole("Administrador"))
                    {
                        <div class="transiton-div">
                            <a class="nav-link text-muted" data-toggle="collapse" href="#collapseBills" aria-expanded="false" aria-controls="collapseBills">
                                @*<h6 class="sidebar-heading d-flex justify-content-between text-black-50">
            Facturación
            <i class="fas fa-arrow-circle-down fa-fw"></i>
        </h6>*@
                                <i class="fas fa-file-invoice-dollar fa-fw"></i>&nbsp; Facturación
                            </a>
                        </div>
                        <div class="collapse" id="collapseBills" style="background-color:slategray">
                            <ul class="nav flex-column">
                                <li class="nav-item sidebar-li">
                                    <a class="nav-link" style="color:white"  asp-controller="Bill" asp-action="PreBilling">
                                        <i class="fas fa-file-alt fa-fw"></i>&nbsp; Prefacturar
                                    </a>
                                </li>
                                <li class="nav-item sidebar-li">
                                    <a class="nav-link" style="color:white"  asp-controller="Bill" asp-action="Billing">
                                        <i class="fas fa-file-archive fa-fw"></i>&nbsp; Facturar
                                    </a>
                                </li>
                                <li class="nav-item sidebar-li">
                                    <a class="nav-link" style="color:white"  asp-controller="Bill" asp-action="History">
                                        <i class="fas fa-archive fa-fw"></i>&nbsp; Historial
                                    </a>
                                </li>
                            </ul>
                        </div>

                    }

                    <ul class="nav flex-column centered">

                        <li class="nav-item sidebar-li">
                            <a class="nav-link text-muted" asp-action="Index" asp-controller="Notification">
                                <i class="fas fa-bell fa-fw"></i>&nbsp; Notificaciones&nbsp;
                                @await Component.InvokeAsync("NotificationBadge")
                            </a>

                        </li>
                        @*<li class="nav-item sidebar-li">
                            <a class="nav-link text-muted" asp-controller="Account" asp-action="ChangePassword">
                                <i class="fas fa-key fa-fw" aria-hidden="true"></i>&nbsp; Cambiar contraseña
                            </a>
                        </li>*@
                        <li class="nav-item sidebar-li">
                            <a class="nav-link text-danger" asp-controller="Account" asp-action="Logout">
                                <i class="fas fa-sign-out-alt fa-fw" aria-hidden="true"></i>&nbsp; Cerrar sesión
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>
            <main class="col-md-10 ml-auto ml-0 px-4" role="main">
                <div  class="container-fluid" style="height:100%">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    <script src="~/js/loadingOverlay.js"></script>
</body>

</html>
