<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" asp-href-include="/css/*.css" />
    <link href="~/lib/@@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid" />
    <link rel="stylesheet" href="~/css/sidenav.css"/>
    <script type="text/javascript" src="~/js/index.js"></script>



</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top" role="navigation">
        <a class="navbar-brand" href="#">Lexincorp Nicaragua</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownUsuarios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Usuarios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownUsuarios">
                        <a class="dropdown-item" asp-controller="Attorney" asp-action="New">Crear</a>
                        <a class="dropdown-item" asp-controller="Attorney" asp-action="Admin">Administrar</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownClientes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Clientes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownClientes">
                        <a class="dropdown-item" asp-controller="Client" asp-action="New">Agregar nuevo</a>
                        <a class="dropdown-item" asp-controller="Client" asp-action="Admin">Administrar</a>
                        <a class="dropdown-item" href="#">Registrar nuevo Retainer</a>
                        <a class="dropdown-item" href="#">Registrar nuevo Paquete</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownServicios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Servicios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownServicios">
                        <a class="dropdown-item" href="#">Crear categoría</a>
                        <a class="dropdown-item" href="#">Administrar categorías</a>
                        <a class="dropdown-item" href="#">Crear servicio</a>
                        <a class="dropdown-item" href="#">Administrar servicios</a>
                        <a class="dropdown-item" href="#">Crear ítems</a>
                        <a class="dropdown-item" href="#">Administrar ítems</a>

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownGastos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gastos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownGastos">
                        <a class="dropdown-item" asp-controller="Expense" asp-action="New">Crear nuevo tipo de gasto</a>
                        <a class="dropdown-item" href="#">Administrar tipos de gastos</a>
                    </div>
                </li>

            </ul>

        </div>
    </nav>
    <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column centered" style="padding-top:15px;">
                        <li class="nav-item sidebar-li">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-tachometer-alt fa-fw" aria-hidden="true"></i>&nbsp; Dashboard
                            </a>
                        </li>
                        <li class="nav-item sidebar-li">
                            <a class="nav-link text-muted" href="#">
                                <i class="fas fa-clipboard fa-fw"></i>&nbsp; Reportes
                            </a>
                        </li>
                        <li class="nav-item sidebar-li">
                            <a class="nav-link text-muted" asp-controller="VacationsMovement" asp-action="Add">
                                <i class="fas fa-umbrella-beach fa-fw"></i>&nbsp; Vacaciones
                            </a>
                        </li>
                    </ul>
                    <div class="transiton-div">
                        <a class="nav-link text-muted" data-toggle="collapse" href="#collapseActivities" aria-expanded="true" aria-controls="collapseActivities">
                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-black-50">
                                Actividades
                                <i class="fas fa-arrow-circle-down"></i>
                            </h6>
                        </a>
                    </div>              
                    <div class="collapse show" id="collapseActivities">
                        <ul class="nav flex-column">
                            <li class="nav-item sidebar-li">
                                <a class="nav-link text-muted" href="#">
                                    <i class="fas fa-plus-circle fa-fw"></i>&nbsp; Registrar
                                </a>
                            </li>
                            <li class="nav-item sidebar-li">
                                <a class="nav-link text-muted" href="#">
                                    <i class="fas fa-archive fa-fw"></i>&nbsp; Historial
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
                <div class="container">
                    @RenderBody()
                </div>
            </main>
    </div>   
</body>
</html>
